*{
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
}
body{
background-color: #EAEAEA;
}
menu, footer{
background-color: #625B5B;
color: white;
padding: 20px;
text-align: center;
}
header{
width: 100%;
display: flex;
flex-wrap: wrap;
}
header img{
width: 100%;
}
menu{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
gap: 90px;
height: 80px;
}
main{
height: auto;
width: 100%;
padding: 30px;
}
menu a{
color: #625b5b;
background-color: #eaeaea;
padding: 15px;
border-radius: 20px;
}
ul{
list-style: circle;
margin: 40px;
}
menu a:hover{
color: white;
background-color: #625B5B;
border: 1px #eaeaea solid;
}
footer{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 80px;
}
table{
border-collapse: collapse;
border: dotted 1px black;
margin: 10px;
}
th, td{
padding: 3px;
padding-left: 100px;
padding-right: 70px;
text-align: center;
}